@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./assets/Menlo-Regular.woff) format('woff');
}

body {
  margin: 0;
  font-family: MyFont, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: MyFont, monospace;
}
